@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --header-height: 3rem;

    /* Color mode HSL (hue, saturation, lightness) */
    --hue: 0; 
    --sat: 0%; 
    --title-color: hsl(var(--hue), var(--sat), 20%); 
    --title-color-dark: hsl(var(--hue), var(--sat), 0%); 
    --text-color: hsl(var(--hue), var(--sat), 46%);
    --body-color: hsl(var(--hue), var(--sat), 98%);
    --container-color: #fff; 

    --body-font: "Poppins", sans-serif; 

    /* .5rem = 8px | 1rem = 16px    */
    --big-font-size: 3.5rem;
    --hl-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem; 
    --small-font-size: 0.875rem; 
    --smaller-font-size: 0.813rem; 
    --tiny-font-size: 0.625rem; 

    /* font-weights */
    
}